{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://iot.amazonaws.com/"
        },
        {
            "url": "http://iot.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between Internet-connected devices (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to communicate with, configure rules for data processing and integration with other services, organize resources associated with each device (Registry), configure logging, and create and manage policies and credentials to authenticate devices.</p> <p>For more information about how AWS IoT works, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer Guide</a>.</p> <p>For information about how to use the credentials provider for AWS IoT, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html\">Authorizing Direct Calls to AWS Services</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS IoT",
        "version": "2015-05-28",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-2015-05-28.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "iot"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/iot/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/accept-certificate-transfer/{certificateId}": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>",
                "operationId": "AcceptCertificateTransfer",
                "parameters": [
                    {
                        "in": "path",
                        "name": "certificateId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TransferAlreadyCompletedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the AcceptCertificateTransfer operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/active-violations": {
            "get": {
                "description": "Lists the active violations for a given Device Defender security profile.",
                "operationId": "ListActiveViolations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "activeViolations": {
                                            "description": "The list of active violations.",
                                            "items": {
                                                "description": "Information about an active Device Defender security profile behavior violation.",
                                                "properties": {
                                                    "behavior": {
                                                        "description": "The behavior which is being violated.",
                                                        "properties": {
                                                            "criteria": {
                                                                "description": "The criteria that determine if a device is behaving normally in regard to the <code>metric</code>.",
                                                                "properties": {
                                                                    "comparisonOperator": {
                                                                        "description": "The operator that relates the thing measured (<code>metric</code>) to the criteria (containing a <code>value</code> or <code>statisticalThreshold</code>).",
                                                                        "enum": [
                                                                            "less-than",
                                                                            "less-than-equals",
                                                                            "greater-than",
                                                                            "greater-than-equals",
                                                                            "in-cidr-set",
                                                                            "not-in-cidr-set",
                                                                            "in-port-set",
                                                                            "not-in-port-set"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "consecutiveDatapointsToAlarm": {
                                                                        "description": "If a device is in violation of the behavior for the specified number of consecutive datapoints, an alarm occurs. If not specified, the default is 1.",
                                                                        "maximum": 10,
                                                                        "minimum": 1,
                                                                        "type": "integer"
                                                                    },
                                                                    "consecutiveDatapointsToClear": {
                                                                        "description": "If an alarm has occurred and the offending device is no longer in violation of the behavior for the specified number of consecutive datapoints, the alarm is cleared. If not specified, the default is 1.",
                                                                        "maximum": 10,
                                                                        "minimum": 1,
                                                                        "type": "integer"
                                                                    },
                                                                    "durationSeconds": {
                                                                        "description": "Use this to specify the time duration over which the behavior is evaluated, for those criteria which have a time dimension (for example, <code>NUM_MESSAGES_SENT</code>). For a <code>statisticalThreshhold</code> metric comparison, measurements from all devices are accumulated over this time duration before being used to calculate percentiles, and later, measurements from an individual device are also accumulated over this time duration before being given a percentile rank.",
                                                                        "type": "integer"
                                                                    },
                                                                    "statisticalThreshold": {
                                                                        "description": "A statistical ranking (percentile) which indicates a threshold value by which a behavior is determined to be in compliance or in violation of the behavior.",
                                                                        "properties": {
                                                                            "statistic": {
                                                                                "description": "The percentile which resolves to a threshold value by which compliance with a behavior is determined. Metrics are collected over the specified period (<code>durationSeconds</code>) from all reporting devices in your account and statistical ranks are calculated. Then, the measurements from a device are collected over the same period. If the accumulated measurements from the device fall above or below (<code>comparisonOperator</code>) the value associated with the percentile specified, then the device is considered to be in compliance with the behavior, otherwise a violation occurs.",
                                                                                "pattern": "(p0|p0\\.1|p0\\.01|p1|p10|p50|p90|p99|p99\\.9|p99\\.99|p100)",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "value": {
                                                                        "description": "The value to be compared with the <code>metric</code>.",
                                                                        "properties": {
                                                                            "cidrs": {
                                                                                "description": "If the <code>comparisonOperator</code> calls for a set of CIDRs, use this to specify that set to be compared with the <code>metric</code>.",
                                                                                "items": {
                                                                                    "maxLength": 43,
                                                                                    "minLength": 2,
                                                                                    "pattern": "[a-fA-F0-9:\\.\\/]+",
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "count": {
                                                                                "description": "If the <code>comparisonOperator</code> calls for a numeric value, use this to specify that numeric value to be compared with the <code>metric</code>.",
                                                                                "minimum": 0,
                                                                                "type": "integer"
                                                                            },
                                                                            "ports": {
                                                                                "description": "If the <code>comparisonOperator</code> calls for a set of ports, use this to specify that set to be compared with the <code>metric</code>.",
                                                                                "items": {
                                                                                    "maximum": 65535,
                                                                                    "minimum": 0,
                                                                                    "type": "integer"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "metric": {
                                                                "description": "What is measured by the behavior.",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "The name you have given to the behavior.",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[a-zA-Z0-9:_-]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "lastViolationTime": {
                                                        "description": "The time the most recent violation occurred.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "lastViolationValue": {
                                                        "description": "The value of the metric (the measurement) which caused the most recent violation.",
                                                        "properties": {
                                                            "cidrs": {
                                                                "description": "If the <code>comparisonOperator</code> calls for a set of CIDRs, use this to specify that set to be compared with the <code>metric</code>.",
                                                                "items": {
                                                                    "maxLength": 43,
                                                                    "minLength": 2,
                                                                    "pattern": "[a-fA-F0-9:\\.\\/]+",
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "count": {
                                                                "description": "If the <code>comparisonOperator</code> calls for a numeric value, use this to specify that numeric value to be compared with the <code>metric</code>.",
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "ports": {
                                                                "description": "If the <code>comparisonOperator</code> calls for a set of ports, use this to specify that set to be compared with the <code>metric</code>.",
                                                                "items": {
                                                                    "maximum": 65535,
                                                                    "minimum": 0,
                                                                    "type": "integer"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "securityProfileName": {
                                                        "description": "The security profile whose behavior is in violation.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9:_-]+",
                                                        "type": "string"
                                                    },
                                                    "thingName": {
                                                        "description": "The name of the thing responsible for the active violation.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9:_-]+",
                                                        "type": "string"
                                                    },
                                                    "violationId": {
                                                        "description": "The ID of the active violation.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9\\-]+",
                                                        "type": "string"
                                                    },
                                                    "violationStartTime": {
                                                        "description": "The time the violation started.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A token that can be used to retrieve the next set of results, or <code>null</code> if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/attached-policies/{target}": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists the policies attached to the specified thing group.",
                "operationId": "ListAttachedPolicies",
                "parameters": [
                    {
                        "in": "path",
                        "name": "target",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextMarker": {
                                            "description": "The token to retrieve the next set of results, or ``null`` if there are no more results.",
                                            "pattern": "[A-Za-z0-9+/]+={0,2}",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "The policies.",
                                            "items": {
                                                "description": "Describes an AWS IoT policy.",
                                                "properties": {
                                                    "policyArn": {
                                                        "description": "The policy ARN.",
                                                        "type": "string"
                                                    },
                                                    "policyName": {
                                                        "description": "The policy name.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w+=,.@-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/audit/configuration": {
            "delete": {
                "description": "Restores the default settings for Device Defender audits for this account. Any configuration data you entered is deleted and all audit checks are reset to disabled. ",
                "operationId": "DeleteAccountAuditConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets information about the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.",
                "operationId": "DescribeAccountAuditConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "auditCheckConfigurations": {
                                            "description": "Which audit checks are enabled and disabled for this account.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks including those that are enabled or <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "Which audit checks are enabled and disabled for this account.",
                                                        "properties": {
                                                            "enabled": {
                                                                "description": "True if this audit check is enabled for this account.",
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "auditNotificationTargetConfigurations": {
                                            "description": "Information about the targets to which audit notifications are sent for this account.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "enum": [
                                                            "SNS"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "description": "Information about the targets to which audit notifications are sent.",
                                                        "properties": {
                                                            "enabled": {
                                                                "description": "True if notifications to the target are enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "roleArn": {
                                                                "description": "The ARN of the role that grants permission to send notifications to the target.",
                                                                "maxLength": 2048,
                                                                "minLength": 20,
                                                                "type": "string"
                                                            },
                                                            "targetArn": {
                                                                "description": "The ARN of the target (SNS topic) to which audit notifications are sent.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "roleArn": {
                                            "description": "<p>The ARN of the role that grants permission to AWS IoT to access information about your devices, policies, certificates and other items as necessary when performing an audit.</p> <p>On the first call to <code>UpdateAccountAuditConfiguration</code> this parameter is required.</p>",
                                            "maxLength": 2048,
                                            "minLength": 20,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Configures or reconfigures the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.",
                "operationId": "UpdateAccountAuditConfiguration",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "auditCheckConfigurations": {
                                        "description": "<p>Specifies which audit checks are enabled and disabled for this account. Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks including those that are currently enabled.</p> <p>Note that some data collection may begin immediately when certain checks are enabled. When a check is disabled, any data collected so far in relation to the check is deleted.</p> <p>You cannot disable a check if it is used by any scheduled audit. You must first delete the check from the scheduled audit or delete the scheduled audit itself.</p> <p>On the first call to <code>UpdateAccountAuditConfiguration</code> this parameter is required and must specify at least one enabled check.</p>",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "description": "An audit check name. Checks must be enabled for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list of all checks including those that are enabled or <code>UpdateAccountAuditConfiguration</code> to select which checks are enabled.)",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "Which audit checks are enabled and disabled for this account.",
                                                    "properties": {
                                                        "enabled": {
                                                            "description": "True if this audit check is enabled for this account.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "auditNotificationTargetConfigurations": {
                                        "description": "Information about the targets to which audit notifications are sent.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "enum": [
                                                        "SNS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "description": "Information about the targets to which audit notifications are sent.",
                                                    "properties": {
                                                        "enabled": {
                                                            "description": "True if notifications to the target are enabled.",
                                                            "type": "boolean"
                                                        },
                                                        "roleArn": {
                                                            "description": "The ARN of the role that grants permission to send notifications to the target.",
                                                            "maxLength": 2048,
                                                            "minLength": 20,
                                                            "type": "string"
                                                        },
                                                        "targetArn": {
                                                            "description": "The ARN of the target (SNS topic) to which audit notifications are sent.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "roleArn": {
                                        "description": "The ARN of the role that grants permission to AWS IoT to access information about your devices, policies, certificates and other items as necessary when performing an audit.",
                                        "maxLength": 2048,
                                        "minLength": 20,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/audit/findings": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists the findings (results) of a Device Defender audit or of the audits performed during a specified time period. (Findings are retained for 180 days.)",
                "operationId": "ListAuditFindings",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "findings": {
                                            "description": "The findings (results) of the audit.",
                                            "items": {
                                                "description": "The findings (results) of the audit.",
                                                "properties": {
                                                    "checkName": {
                                                        "description": "The audit check that generated this result.",
                                                        "type": "string"
                                                    },
                                                    "findingTime": {
                                                        "description": "The time the result (finding) was discovered.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "nonCompliantResource": {
                                                        "description": "The resource that was found to be non-compliant with the audit check.",
                                                        "properties": {
                                                            "additionalInfo": {
                                                                "description": "Additional information about the non-compliant resource.",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "resourceIdentifier": {
                                                                "description": "Information identifying the non-compliant resource.",
                                                                "properties": {
                                                                    "account": {
                                                                        "description": "The account with which the resource is associated.",
                                                                        "maxLength": 12,
                                                                        "minLength": 12,
                                                                        "pattern": "[0-9]+",
                                                                        "type": "string"
                                                                    },
                                                                    "caCertificateId": {
                                                                        "description": "The ID of the CA certificate used to authorize the certificate.",
                                                                        "maxLength": 64,
                                                                        "minLength": 64,
                                                                        "pattern": "(0x)?[a-fA-F0-9]+",
                                                                        "type": "string"
                                                                    },
                                                                    "clientId": {
                                                                        "description": "The client ID.",
                                                                        "type": "string"
                                                                    },
                                                                    "cognitoIdentityPoolId": {
                                                                        "description": "The ID of the Cognito Identity Pool.",
                                                                        "type": "string"
                                                                    },
                                                                    "deviceCertificateId": {
                                                                        "description": "The ID of the certificate attached to the resource.",
                                                                        "maxLength": 64,
                                                                        "minLength": 64,
                                                                        "pattern": "(0x)?[a-fA-F0-9]+",
                                                                        "type": "string"
                                                                    },
                                                                    "policyVersionIdentifier": {
                                                                        "description": "The version of the policy associated with the resource.",
                                                                        "properties": {
                                                                            "policyName": {
                                                                                "description": "The name of the policy.",
                                                                                "maxLength": 128,
                                                                                "minLength": 1,
                                                                                "pattern": "[\\w+=,.@-]+",
                                                                                "type": "string"
                                                                            },
                                                                            "policyVersionId": {
                                                                                "description": "The ID of the version of the policy associated with the resource.",
                                                                                "pattern": "[0-9]+",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "resourceType": {
                                                                "description": "The type of the non-compliant resource.",
                                                                "enum": [
                                                                    "DEVICE_CERTIFICATE",
                                                                    "CA_CERTIFICATE",
                                                                    "IOT_POLICY",
                                                                    "COGNITO_IDENTITY_POOL",
                                                                    "CLIENT_ID",
                                                                    "ACCOUNT_SETTINGS"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reasonForNonCompliance": {
                                                        "description": "The reason the resource was non-compliant.",
                                                        "type": "string"
                                                    },
                                                    "reasonForNonComplianceCode": {
                                                        "description": "A code which indicates the reason that the resource was non-compliant.",
                                                        "type": "string"
                                                    },
                                                    "relatedResources": {
                                                        "description": "The list of related resources.",
                                                        "items": {
                                                            "description": "Information about a related resource.",
                                                            "properties": {
                                                                "additionalInfo": {
                                                                    "description": "Additional information about the resource.",
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "value": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "resourceIdentifier": {
                                                                    "description": "Information identifying the resource.",
                                                                    "properties": {
                                                                        "account": {
                                                                            "description": "The account with which the resource is associated.",
                                                                            "maxLength": 12,
                                                                            "minLength": 12,
                                                                            "pattern": "[0-9]+",
                                                                            "type": "string"
                                                                        },
                                                                        "caCertificateId": {
                                                                            "description": "The ID of the CA certificate used to authorize the certificate.",
                                                                            "maxLength": 64,
                                                                            "minLength": 64,
                                                                            "pattern": "(0x)?[a-fA-F0-9]+",
                                                                            "type": "string"
                                                                        },
                                                                        "clientId": {
                                                                            "description": "The client ID.",
                                                                            "type": "string"
                                                                        },
                                                                        "cognitoIdentityPoolId": {
                                                                            "description": "The ID of the Cognito Identity Pool.",
                                                                            "type": "string"
                                                                        },
                                                                        "deviceCertificateId": {
                                                                            "description": "The ID of the certificate attached to the resource.",
                                                                            "maxLength": 64,
                                                                            "minLength": 64,
                                                                            "pattern": "(0x)?[a-fA-F0-9]+",
                                                                            "type": "string"
                                                                        },
                                                                        "policyVersionIdentifier": {
                                                                            "description": "The version of the policy associated with the resource.",
                                                                            "properties": {
                                                                                "policyName": {
                                                                                    "description": "The name of the policy.",
                                                                                    "maxLength": 128,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[\\w+=,.@-]+",
                                                                                    "type": "string"
                                                                                },
                                                                                "policyVersionId": {
                                                                                    "description": "The ID of the version of the policy associated with the resource.",
                                                                                    "pattern": "[0-9]+",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resourceType": {
                                                                    "description": "The type of resource.",
                                                                    "enum": [
                                                                        "DEVICE_CERTIFICATE",
                                                                        "CA_CERTIFICATE",
                                                                        "IOT_POLICY",
                                                                        "COGNITO_IDENTITY_POOL",
                                                                        "CLIENT_ID",
                                                                        "ACCOUNT_SETTINGS"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "severity": {
                                                        "description": "The severity of the result (finding).",
                                                        "enum": [
                                                            "CRITICAL",
                                                            "HIGH",
                                                            "MEDIUM",
                                                            "LOW"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "taskId": {
                                                        "description": "The ID of the audit that generated this result (finding)",
                                                        "maxLength": 40,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9\\-]+",
                                                        "type": "string"
                                                    },
                                                    "taskStartTime": {
                                                        "description": "The time the audit started.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A token that can be used to retrieve the next set of results, or <code>null</code> if there are no additional results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "checkName": {
                                        "description": "A filter to limit results to the findings for the specified audit check.",
                                        "type": "string"
                                    },
                                    "endTime": {
                                        "description": "A filter to limit results to those found before the specified time. You must specify either the startTime and endTime or the taskId, but not both.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of results to return at one time. The default is 25.",
                                        "maximum": 250,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "The token for the next set of results.",
                                        "type": "string"
                                    },
                                    "resourceIdentifier": {
                                        "description": "Information identifying the non-compliant resource.",
                                        "properties": {
                                            "account": {
                                                "description": "The account with which the resource is associated.",
                                                "maxLength": 12,
                                                "minLength": 12,
                                                "pattern": "[0-9]+",
                                                "type": "string"
                                            },
                                            "caCertificateId": {
                                                "description": "The ID of the CA certificate used to authorize the certificate.",
                                                "maxLength": 64,
                                                "minLength": 64,
                                                "pattern": "(0x)?[a-fA-F0-9]+",
                                                "type": "string"
                                            },
                                            "clientId": {
                                                "description": "The client ID.",
                                                "type": "string"
                                            },
                                            "cognitoIdentityPoolId": {
                                                "description": "The ID of the Cognito Identity Pool.",
                                                "type": "string"
                                            },
                                            "deviceCertificateId": {
                                                "description": "The ID of the certificate attached to the resource.",
                                                "maxLength": 64,
                                                "minLength": 64,
                                                "pattern": "(0x)?[a-fA-F0-9]+",
                                                "type": "string"
                                            },
                                            "policyVersionIdentifier": {
                                                "description": "The version of the policy associated with the resource.",
                                                "properties": {
                                                    "policyName": {
                                                        "description": "The name of the policy.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\w+=,.@-]+",
                                                        "type": "string"
                                                    },
                                                    "policyVersionId": {
                                                        "description": "The ID of the version of the policy associated with the resource.",
                                                        "pattern": "[0-9]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "startTime": {
                                        "description": "A filter to limit results to those found after the specified time. You must specify either the startTime and endTime or the taskId, but not both.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "taskId": {
                                        "description": "A filter to limit results to the audit with the specified ID. You must specify either the taskId or the startTime and endTime, but not both.",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9\\-]+",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/audit/scheduledaudits": {
            "get": {
                "description": "Lists all of your scheduled audits.",
                "operationId": "ListScheduledAudits",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "A token that can be used to retrieve the next set of results, or <code>null</code> if there are no additional results.",
                                            "type": "string"
                                        },
                                        "scheduledAudits": {
                                            "description": "The list of scheduled audits.",
                                            "items": {
                                                "description": "Information about the scheduled audit.",
                                                "properties": {
                                                    "dayOfMonth": {
                                                        "description": "The day of the month on which the scheduled audit is run (if the <code>frequency</code> is \"MONTHLY\"). If days 29-31 are specified, and the month does not have that many days, the audit takes place on the \"LAST\" day of the month.",
                                                        "pattern": "^([1-9]|[12][0-9]|3[01])$|^LAST$",
                                                        "type": "string"
                                                    },
                                                    "dayOfWeek": {
                                                        "description": "The day of the week on which the scheduled audit is run (if the <code>frequency</code> is \"WEEKLY\" or \"BIWEEKLY\").",
                                                        "enum": [
                                                            "SUN",
                                                            "MON",
                                                            "TUE",
                                                            "WED",
                                                            "THU",
                                                            "FRI",
                                                            "SAT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "frequency": {
                                                        "description": "How often the scheduled audit takes place.",
                                                        "enum": [
                                                            "DAILY",
                                                            "WEEKLY",
                                                            "BIWEEKLY",
                                                            "MONTHLY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "scheduledAuditArn": {
                                                        "description": "The ARN of the scheduled audit.",
                                                        "type": "string"
                                                    },
                                                    "scheduledAuditName": {
                                                        "description": "The name of the scheduled audit.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_-]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/audit/scheduledaudits/{scheduledAuditName}": {
            "delete": {
                "description": "Deletes a scheduled audit.",
                "operationId": "DeleteScheduledAudit",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scheduledAuditName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets information about a scheduled audit.",
                "operationId": "DescribeScheduledAudit",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scheduledAuditName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
